In [1]:
!pip install pandas numpy
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in /Users/mauroleonardo/Documents/School_2526/ML/ML_AWS_Challenge/Project/bralma_ML_Project/.venv/lib/python3.11/site-packages (2.3.3)
Requirement already satisfied: numpy in /Users/mauroleonardo/Documents/School_2526/ML/ML_AWS_Challenge/Project/bralma_ML_Project/.venv/lib/python3.11/site-packages (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mauroleonardo/Documents/School_2526/ML/ML_AWS_Challenge/Project/bralma_ML_Project/.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/mauroleonardo/Documents/School_2526/ML/ML_AWS_Challenge/Project/bralma_ML_Project/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/mauroleonardo/Documents/School_2526/ML/ML_AWS_Challenge/Project/bralma_ML_Project/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/mauroleonardo/Documents/School_2526/ML/ML_AWS_Challenge/Project/bralma_ML_Project/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
# Load data
df = pd.read_csv("../data/electricity_demand_2001_2025.csv")
df

,SETTLEMENT_DATE,SETTLEMENT_PERIOD,ND,TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,EMBEDDED_SOLAR_GENERATION,EMBEDDED_SOLAR_CAPACITY,NON_BM_STOR,...,IFA2_FLOW,BRITNED_FLOW,MOYLE_FLOW,EAST_WEST_FLOW,NEMO_FLOW,NSL_FLOW,ELECLINK_FLOW,VIKING_FLOW,GREENLINK_FLOW,Year
0,2001-01-01,1,38631,NaN,34060,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
1,2001-01-01,2,39808,NaN,35370,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2,2001-01-01,3,40039,NaN,35680,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
3,2001-01-01,4,39339,NaN,35029,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
4,2001-01-01,5,38295,NaN,34047,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434009,2025-10-03,44,25095,26540.0,23271,5343.0,6606.0,0.0,20993.0,0,...,580.0,409.0,231.0,0.0,-626.0,476.0,607.0,1424.0,499.0,2025
434010,2025-10-03,45,23308,24743.0,21619,5268.0,6606.0,0.0,20993.0,0,...,-245.0,443.0,135.0,0.0,-254.0,105.0,266.0,1399.0,496.0,2025
434011,2025-10-03,46,22176,23499.0,20725,5192.0,6606.0,0.0,20993.0,0,...,-321.0,435.0,99.0,0.0,-226.0,39.0,230.0,1386.0,504.0,2025
434012,2025-10-03,47,20740,22457.0,19448,5271.0,6606.0,0.0,20993.0,0,...,-220.0,-325.0,38.0,-11.0,179.0,-144.0,-196.0,743.0,505.0,2025
434013,2025-10-03,48,19877,22013.0,18729,5350.0,6606.0,0.0,20993.0,0,...,-212.0,-379.0,-36.0,-110.0,208.0,-162.0,-232.0,680.0,434.0,2025

In [ ]:
# Checked welke kolommen NA-values hebben
na_columns = df.columns[df.isna().any()].tolist()
print("Kolommen met NA waarden:", na_columns)

Kolommen met NA waarden: ['TSD', 'EMBEDDED_WIND_GENERATION', 'EMBEDDED_WIND_CAPACITY', 'EMBEDDED_SOLAR_GENERATION', 'EMBEDDED_SOLAR_CAPACITY', 'SCOTTISH_TRANSFER', 'IFA2_FLOW', 'BRITNED_FLOW', 'MOYLE_FLOW', 'EAST_WEST_FLOW', 'NEMO_FLOW', 'NSL_FLOW', 'ELECLINK_FLOW', 'VIKING_FLOW', 'GREENLINK_FLOW']

In [ ]:
# Bereken de mean voor elke kolom
means = df.mean(numeric_only=True)
print(means)

SETTLEMENT_PERIOD               24.500115
ND                           33356.066355
TSD                          33266.062044
ENGLAND_WALES_DEMAND         30276.803767
EMBEDDED_WIND_GENERATION      1214.371730
EMBEDDED_WIND_CAPACITY        4144.955061
EMBEDDED_SOLAR_GENERATION      967.462261
EMBEDDED_SOLAR_CAPACITY       9378.041956
NON_BM_STOR                      5.085905
PUMP_STORAGE_PUMPING           312.552316
SCOTTISH_TRANSFER             1743.162101
IFA_FLOW                       949.465600
IFA2_FLOW                       83.916384
BRITNED_FLOW                   482.953404
MOYLE_FLOW                    -125.896984
EAST_WEST_FLOW                 -57.327766
NEMO_FLOW                      179.188509
NSL_FLOW                       493.492825
ELECLINK_FLOW                  173.029258
VIKING_FLOW                     97.572150
GREENLINK_FLOW                 -35.320145
Year                          2012.882492
dtype: float64

In [10]:
df_filled = df.fillna(means)
df_filled.to_csv("../data/cleaned/electricity_demand_2001_2025_mean.csv", index=False)
print("✅ Bestand opgeslagen als electricity_demand_2001_2025_mean.csv")

✅ Bestand opgeslagen als electricity_demand_2001_2025_mean.csv