In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [78]:
path = "../../Dataset1/Merged/electricity_demand_2001_2025.csv"
df = pd.read_csv(path)
df

/var/folders/y0/9zbck24x5017gh20l_rnx3wr0000gn/T/ipykernel_55339/2332402749.py:2: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

,settlement_date,settlement_period,nd,tsd,england_wales_demand,embedded_wind_generation,embedded_wind_capacity,embedded_solar_generation,embedded_solar_capacity,non_bm_stor,...,2001,na.5,na.6,0.2,na.7,na.8,na.9,na.10,na.11,na.12
0,2001-01-01,1.0,38631.0,NaN,34060.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001-01-01,2.0,39808.0,NaN,35370.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001-01-01,3.0,40039.0,NaN,35680.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001-01-01,4.0,39339.0,NaN,35029.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001-01-01,5.0,38295.0,NaN,34047.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434001,2025-10-03,44.0,25095.0,26540.0,23271.0,5343.0,6606.0,0.0,20993.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434002,2025-10-03,45.0,23308.0,24743.0,21619.0,5268.0,6606.0,0.0,20993.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434003,2025-10-03,46.0,22176.0,23499.0,20725.0,5192.0,6606.0,0.0,20993.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434004,2025-10-03,47.0,20740.0,22457.0,19448.0,5271.0,6606.0,0.0,20993.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434005,2025-10-03,48.0,19877.0,22013.0,18729.0,5350.0,6606.0,0.0,20993.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
# Checked welke kolommen NA-values hebben
na_columns = df.columns[df.isna().any()].tolist()
print("Kolommen met NA waarden:", na_columns)

Kolommen met NA waarden: ['settlement_date', 'settlement_period', 'nd', 'tsd', 'england_wales_demand', 'embedded_wind_generation', 'embedded_wind_capacity', 'embedded_solar_generation', 'embedded_solar_capacity', 'non_bm_stor', 'pump_storage_pumping', 'scottish_transfer', 'ifa_flow', 'ifa2_flow', 'britned_flow', 'moyle_flow', 'east_west_flow', 'nemo_flow', 'nsl_flow', 'eleclink_flow', 'viking_flow', 'greenlink_flow', '2005-01-01', '8', '31851', '0', '27976', 'na', 'na.1', 'na.2', 'na.3', '0.1', '504', 'na.4', '2001', 'na.5', 'na.6', '0.2', 'na.7', 'na.8', 'na.9', 'na.10', 'na.11', 'na.12']

In [ ]:
# Replace NaN or missing values with '0', but keep 0 values intact
df = df.fillna(0)

In [81]:
df.to_csv("../../Dataset1/Cleaned/electricity_demand_2001_2025_zero.csv", index=False)

AttributeError: 'NoneType' object has no attribute 'to_csv'