In [ ]:
!pip3 install pandas numpy
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/alex/Library/Python/3.11/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/alex/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: pip3 install --upgrade pip

In [ ]:
# Load data
df = pd.read_csv("../../Dataset1/Merged/electricity_demand_2001_2025.csv")
df

/var/folders/y0/9zbck24x5017gh20l_rnx3wr0000gn/T/ipykernel_77569/1153635395.py:2: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../Dataset1/Merged/electricity_demand_2001_2025.csv")

,settlement_date,settlement_period,nd,tsd,england_wales_demand,embedded_wind_generation,embedded_wind_capacity,embedded_solar_generation,embedded_solar_capacity,non_bm_stor,...,2001,na.5,na.6,0.2,na.7,na.8,na.9,na.10,na.11,na.12
0,2001-01-01,1.0,38631.0,NaN,34060.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001-01-01,2.0,39808.0,NaN,35370.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001-01-01,3.0,40039.0,NaN,35680.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001-01-01,4.0,39339.0,NaN,35029.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001-01-01,5.0,38295.0,NaN,34047.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434001,2025-10-03,44.0,25095.0,26540.0,23271.0,5343.0,6606.0,0.0,20993.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434002,2025-10-03,45.0,23308.0,24743.0,21619.0,5268.0,6606.0,0.0,20993.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434003,2025-10-03,46.0,22176.0,23499.0,20725.0,5192.0,6606.0,0.0,20993.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434004,2025-10-03,47.0,20740.0,22457.0,19448.0,5271.0,6606.0,0.0,20993.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434005,2025-10-03,48.0,19877.0,22013.0,18729.0,5350.0,6606.0,0.0,20993.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Checked welke kolommen NA-values hebben
na_columns = df.columns[df.isna().any()].tolist()
print("Kolommen met NA waarden:", na_columns)

Kolommen met NA waarden: ['settlement_date', 'settlement_period', 'nd', 'tsd', 'england_wales_demand', 'embedded_wind_generation', 'embedded_wind_capacity', 'embedded_solar_generation', 'embedded_solar_capacity', 'non_bm_stor', 'pump_storage_pumping', 'scottish_transfer', 'ifa_flow', 'ifa2_flow', 'britned_flow', 'moyle_flow', 'east_west_flow', 'nemo_flow', 'nsl_flow', 'eleclink_flow', 'viking_flow', 'greenlink_flow', '2005-01-01', '8', '31851', '0', '27976', 'na', 'na.1', 'na.2', 'na.3', '0.1', '504', 'na.4', '2001', 'na.5', 'na.6', '0.2', 'na.7', 'na.8', 'na.9', 'na.10', 'na.11', 'na.12']

In [8]:
# Bereken de mean voor elke kolom
means = df.mean(numeric_only=True)
print(means)

settlement_period               24.500110
nd                           33114.266431
tsd                          33474.505754
england_wales_demand         30062.462929
embedded_wind_generation      1214.371730
embedded_wind_capacity        4144.955061
embedded_solar_generation      967.462261
embedded_solar_capacity       9378.041956
non_bm_stor                      5.062030
pump_storage_pumping           311.740801
scottish_transfer             1743.162101
ifa_flow                       938.989596
ifa2_flow                       83.916384
britned_flow                   482.953404
moyle_flow                    -126.472139
east_west_flow                 -57.327766
nemo_flow                      179.188509
nsl_flow                       493.492825
eleclink_flow                  173.029258
viking_flow                     97.572150
greenlink_flow                 -35.320145
year                          2012.882638
8                               24.509365
31851                        39105.886478
0                            29158.496631
27976                        35374.006795
na                                    NaN
na.1                                  NaN
na.2                                  NaN
na.3                                  NaN
0.1                              5.656064
504                            331.779751
na.4                                  NaN
2001                          1198.139790
na.5                                  NaN
na.6                                  NaN
0.2                           -114.578632
na.7                                  NaN
na.8                                  NaN
na.9                                  NaN
na.10                                 NaN
na.11                                 NaN
na.12                                 NaN
dtype: float64

In [9]:
df_filled = df.fillna(means)
df_filled.to_csv("../../Dataset1/Cleaned/electricity_demand_2001_2025_mean.csv", index=False)
print("✅ Bestand opgeslagen als electricity_demand_2001_2025_mean.csv")

OSError: Cannot save file into a non-existent directory: '../../Dataset1/Cleaned'